@import url('https://fonts.googleapis.com/css?family=Tinos:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stoke&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

 .wrapper {
  font-family: 'Playfair Display', serif;
  color: #fff;
  width: 90%;
  height: 100vh;
  overflow:hidden;
} 

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}




.categories ul {
  list-style: none;
}



.bg {
  position: absolute;
  left: 0%;
  width: 0%;
  height: 100vh;
  background: #8C6C79;
  z-index: -1;
}

/* NAVBAR
=========================== */
.navbar {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0 50px;
}

.navbar .title {
  margin-right: 100px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
}

.navbar .categories {
  margin-right: auto;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}
#check{
  display: none;
}



.navbar .categories ul li {
  display: inline-block;
  padding: 0 15px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
}


.navbar .categories ul li  a{
color: #fff;
text-decoration: none;
/* position: relative; */
transition: 1s ease;
font-family: 'Playfair Display', serif;
}

.navbar .categories ul li  a:hover{
  color:rgba(47, 79, 79, 1);
  }

.navbar .menu {
  margin-right: 50px;
}


/* SOCIAL MEDIA
=========================== */
.media {
  position: absolute;
  top: 350px;
  right: -80px;
  transform: rotate(-90deg);
  z-index: 999;
}

.media ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
}

.media ul li  a{
  color: #fff;
  text-decoration: none;
  transition: 1s ease;
  }
  
  .media ul li a:hover{
    color:rgba(47, 79, 79, 1);
    }


/* IMAGES
=========================== */
.img-wrapper01 {
  position: absolute;
  top: 120px;
  left: 200px;
}

.img-wrapper01 .img01 {
  background: url('../images/woman-2.jpg') no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 505px;
  width: 350px;
  opacity: 0;
  animation: image-appear 0.0001s linear forwards;
  animation-delay: 2.2s;
}

.img-wrapper02 {
  position: absolute;
  top: 0;
  left: 650px;

}

.img-wrapper02 .img02 {
  background: url('../images/woman.jpg') no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 100vh;
  width: 699px;

  opacity: 0;
  animation: image-appear 0.0001s linear forwards;
  animation-delay: 2.4s;
}

@keyframes image-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* BLOCKS
=========================== */
.block {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgb(163, 124, 140);
  animation: block-appear 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1.5s;
}

.img-wrapper02 .block {
  animation-delay: 1.8s;
}

@keyframes block-appear {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
 


/* TEXT
=========================== */
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  width: 1000px;
}

.text h1 {
  font-size: 110px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 5px;
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 100%;
}
.text h1 .hidetext {
  position: absolute;
}

.text p {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight:400;
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 100%;
}
.text p .hidetext {
  position: absolute;
  font-weight: 400;
  color:darkslategrey;
}


/* DESC
=========================== */
.desc {
  position: absolute;
  left: 200px;
  bottom: 70px;
  display: flex;
}

.desc ul {
  margin-right: 50px;
}

.desc ul li {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.desc p {
  width: 250px;
  font-size: 10px;
  font-weight: 300;
  line-height: 2;
  font-family: 'Playfair Display', serif;
}


/* SCROLLDOWN
=========================== */
.scrolldown {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Playfair Display', serif;
  position: absolute;
  bottom: 110px;
  left: -60px;
  transform: rotate(-90deg);
}

.scrolldown::before {
  content: "";
  border: 1px solid #fff;
  width: 100px;
  margin: 0 20px 0 0;
  transform: translateY(-3px);
  opacity: .5;
  display: inline-block;
}



/* my story  */

#mystory {
  width: 100%;
  padding-top: 60px ;
  padding-bottom: 60px;
  margin-bottom: -230px;
  font-family: 'Playfair Display', serif;
   /* background:linear-gradient(90deg, rgb(165, 180, 252), rgb(79, 70, 229)); */
}



#mystory .container .section-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

#mystory .container .section-subheading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin: 1rem 0;
  }

  /* #mystory .all-items{
    display: flex;
  } */


#mystory .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 15rem;

  /* gap: 2rem; */
}
#mystory .item:nth-of-type(even) {
  flex-direction: row-reverse;
}
#mystory .item .left {
  flex: 1;

}

#mystory .right{
  font-family: 'Playfair Display', serif;
}
#mystory .item .right {
  margin-left: -150px;
  flex: 1;
  padding: 5rem 3rem;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000028;
  z-index: 2;
  font-family: 'Playfair Display', serif;
}
#mystory .item:nth-of-type(even) .right {
  margin-left: 0;
}
#mystory .item:nth-of-type(even) .left {
  margin-left: -150px;
}
#mystory .item .left .img {
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #4705fc33;
  position: relative;
}
#mystory .item .left .img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #5a24ed38;
}
#mystory .item .left .img img {
  object-fit: cover;
  transition: 0.3s ease transform;
}
#mystory .item:hover .left .img img {
  transform: scale(1.1);
  z-index: 1;
}
#mystory .item .right .project-title {
  font-size: 2.5rem;
  font-family: 'Montserrat';
  margin-bottom: 1rem;
}
#mystory .item .right .project-sub-title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
#mystory .item .right .project-desc {
  color: var(--secondary-gray);
  margin-bottom: 3rem;
}
#mystory .item .right .external-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: calc(0.6em - 4px) calc(1.6em - 4px);
  color: #0082e6;
  
}
/* #mystory .item .right .external-link svg {
  width: 25px;
} */

/* small tablet media query */
@media only screen and (max-width: 768px) {
  #mystory .item {
    flex-direction: column;
  }
  #mystory .item .left {
    width: 100%;
  }
  #mystory .item .right {
    margin-left: 0;
    width: 90%;
    margin-top: -150px;
  }
  #mystory .item:nth-of-type(even) {
    flex-direction: column;
  }
  #mystory .item:nth-of-type(even) .left {
    margin-left: 0;
  }
}
@media only screen and (max-width: 450px) {
  #mystory .item .right .buttons {
    flex-direction: column;
  }
  #mystory .item .right .buttons a {
    width: 100%;
    text-align: center;
  }
}





/* gallerys section  */
#home1 {
	min-height: 100vh;
	overflow: hidden;
	display:grid;
	place-items:center;
  background-color: black;
  font-family: 'Playfair Display', serif;

}

#home1 ul {
	width: 80%;
 margin-bottom: 70px;
}



#home1 ul li {
	border-bottom: solid #ffffff .05rem;
	position: relative;
	z-index: 10;
}

#home1 ul li .link{
	display: flex;
	padding: 4rem 0 2rem 0;
	z-index: 10;
	justify-content:space-between;
  align-items: center;
  justify-content: center;

}

#home1 ul li .link span {
	display: block;
	font-weight: 500;
	z-index: 10;
	mix-blend-mode: difference;
	display: inline-block;
	position: relative;
	color: white;
	font-size: 4rem;
	text-transform: uppercase;

}
#home1 ul li .link > img {
	mix-blend-mode: difference;
	z-index: 10;
}


.hover-reveal {
	position: absolute;
	width: 300px;
	height: 400px;
	top: 50%;
	left: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	overflow: hidden;
	opacity: 0;
	transform: scale(0.8);
	transition: all .5s ease-out;
}

.hover-reveal img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	transition: transform .4s ease-out;
}


@media (max-width: 768px) {
	#home1 ul {
		width: 93%;
	}
	#home1 ul li a span {
		font-size: 2.5rem;
	}
	#home1 ul li a > img {
		height: 18px;
	}
	.hover-reveal {
		width: 220px;
		height: 300px;
	}
}




/* !CONTACT STYLES */




/* contact */


 .contact{
  z-index: 12;
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  margin: 50px 110px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

}
.contact .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}
.content .image-box{
  max-width: 55%;
}
.content .image-box img{
  width: 100%;
}


.content .topic{
  font-size: 22px;
  font-weight: 500;
  color: #000000;

  text-align: center;
}
.content form{
  width: 40%;
  margin-right: 30px;
  font-family: 'Playfair Display', serif;
}
.content .input-box{
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
  font-family: 'Playfair Display', serif;
}
.content .input-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  font-family: 'Playfair Display', serif;
}
.content .input-box input:focus,
.content .input-box input:valid{
  border-color:#c23c24;
  background-color: #fff;
  font-family: 'Playfair Display', serif;
}
.content .input-box label{
  position: absolute; 
   left: 18px;
  top: 50%;
  color: #636c72;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  font-family: 'Playfair Display', serif;

}
.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label{
  top: 0;
  left: 12px;
  display: 14px;
  color: #c23c24;
  background: #fff;
  font-family: 'Playfair Display', serif;
}
.content .message-box{
  min-height: 100px;
  position: relative;
  
  font-family: 'Playfair Display', serif;
}
.content .message-box textarea{
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
  font-family: 'Playfair Display', serif;
  padding-left: 16px;
}
.content .message-box textarea:focus{
  border-color:#c23c24;
  background-color: #fff;
  font-family: 'Playfair Display', serif;
}
.content .message-box label{
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
  font-family: 'Playfair Display', serif;
}
.content .message-box textarea:focus ~ label{
  left: 12px;
  top: -10px;
  color: #c23c24;
  font-size: 14px;
  background: #fff;
  font-family: 'Playfair Display', serif;
}
.content .input-box input[type="submit"]{
  color: #fff;
  background: #c23c24;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  font-family: 'Playfair Display', serif;
}
.content .input-box input[type="submit"]:hover{
  background-color: #c23c24;
}
@media (max-width:1000px) {
  .content .image-box{
    max-width: 70%;
  }
  .content{
    padding: 10px 0;
  }
}
@media (max-width:900px) {
  .content .image-box{
    display: none;
  }
  .content form{
    width: 100%;
    margin-left: 30px;
  }
}



/* big tablet media query */
@media (max-width: 858px) {
  .checkbtn{
    display: block;
    padding-left: 700px;
  }
  .categories ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .5s;
   
  }


  .navbar ul li{
    display: block;
    margin: 50px 0 ;
    line-height: 30px;
  }
  .navbar ul li a{
    font-size: 20px;
  
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }

 .wrapper{
  width: 120%;
  height: 100vh;
  position: relative;
  background: url('../images/woman.jpg') no-repeat;
  background-position: center;
  background-size: cover;
 }

 .img-wrapper01 {
  display: none;
}


.img-wrapper02 {
  display: none;

}


/* SOCIAL MEDIA
=========================== */
.media {
  top: 960px;
  right: -110px;
  transform: rotate(-90deg);
  z-index: none;
 
}

.media ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
}

/* TEXT
=========================== */
.text  {
  z-index: 1;
}

.text h1 {
  padding-left: 30px;
}
.text h1 .hidetext {
  position: absolute;
}

.text p {
 padding-left: 40px;
}
 /* Article section */

 /* #mystory{

 } */

#mystory .all-items{
 padding-left: 100px;

}
/* galley section  */
#home1{
  width: 120%;
}

#home1 ul{
 margin: -40px 0 0px;
}

/* contact section */
.contact{
  z-index: 12;
  width: 85%;
  height: 90vh;
  margin-top: 100px ; 
  

} 


}

/* small tablet view 
============================================================================== */

@media (max-width: 768px) {
  .checkbtn{
    display: block;
    padding-left: 650px;
}

/* SOCIAL MEDIA
=========================== */
.media {
  top: 810px;
  right: -110px;
  transform: rotate(-90deg);
  z-index: none;
 
}

.media ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Stoke', serif;
}

/* TEXT
=========================== */
.text  {
  z-index: 1;
}


.text h1 .hidetext {
  position: absolute;
  padding-left: 30px;
}

.text p .hidetext {
 padding-left: 40px;
}

 .contact{
  z-index: 12;
  width: 90%;
  height: 90vh;
  margin-top: 100px ;


} 
}


/* big  Phone view 
=============================================================================== */
@media (min-width: 320px) and (max-width: 576px){

  .checkbtn{
    display: block;
    padding-left: 260px ;
    visibility: visible;
    
   
  }
  .categories ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .5s;
    z-index: 999;
  }
  .navbar ul li{
    display: block;
    margin: 50px 0 ;
    line-height: 30px;
  }
  .navbar ul li a{
    font-size: 20px;
  
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }

  .wrapper{
    width: 140%;
    height: 100vh;
    position: relative;
    background: url('../images/woman.jpg') no-repeat;
    background-position: center;
    background-size: cover;
   }

 

 .img-wrapper01 {
  display: none;
}


.img-wrapper02 {
  display: none;

}


/* SOCIAL MEDIA
=========================== */
.media {
  top: 960px;
  right: -110px;
  transform: rotate(-90deg);
  z-index: none;
 
}

.media ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Stoke', serif;
}

/* TEXT
=========================== */
.text {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  width: 1000px;
}

.text h1{
  font-size: 40px;
 margin-left: 60px;
}
.text h1 .hidetext {
  position: relative;
  font-size: 70px;
  margin-left: 90px;
}

.text p {
  font-size: 35px;
  margin-left: 70px;
}

.text p .hidetext {
  font-size: 35px;
  margin-left: 70px;
 }
 /* Article section */

 /* #mystory{

 } */

#mystory .all-items{
 padding-left: 100px;

}
/* galley section  */
#home1{
  width: 140%;
  /* margin: -400px 0 5px */
}

#home1 ul{
 margin: -100px 0 0px
}


/* contact section */
 .contact{
  z-index: 12;
  width: 85%;
  /* height: 70vh; */
  margin-top: 100px ;
  padding-bottom: 30px;
 

} 

.content{
  height: 60%;
}
}



