@import url('https://fonts.googleapis.com/css?family=Tinos:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stoke&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

 .wrapper {
  font-family: 'Poppins';
  color: #fff;
  width: 90%;
  height: 100vh;
  overflow:hidden;
} 

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}




.categories ul {
  list-style: none;
}

.bg {
  position: absolute;
  left: 0%;
  width: 0%;
  height: 100vh;
  background: #8C6C79;
  z-index: -1;
}

/* NAVBAR
=========================== */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0 50px;
}

.navbar .title {
  margin-right: 100px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.navbar .categories {
  margin-right: auto;
}

.navbar .categories ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.navbar .categories ul li  a{
color: #fff;
text-decoration: none;
/* position: relative; */
transition: 1s ease;
}

.navbar .categories ul li  a:hover{
  color:rgba(47, 79, 79, 1);
  }
/* 
.navbar .categories ul li  a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: aqua;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  }

  .navbar .categories ul li  a:hover :after{
    transform: scaleX(1);
    transform-origin: bottom left;
    } */

.navbar .menu {
  margin-right: 50px;
}


/* SOCIAL MEDIA
=========================== */
.media {
  position: absolute;
  top: 350px;
  right: -90px;
  transform: rotate(-90deg);
  z-index: 999;
}

.media ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Stoke', serif;
}

.media ul li  a{
  color: #fff;
  text-decoration: none;
  transition: 1s ease;
  }
  
  .media ul li a:hover{
    color:rgba(47, 79, 79, 1);
    }


/* IMAGES
=========================== */
.img-wrapper01 {
  position: absolute;
  top: 120px;
  left: 200px;
}

.img-wrapper01 .img01 {
  background: url('./images/woman-2.jpg') no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 505px;
  width: 350px;

  opacity: 0;
  animation: image-appear 0.0001s linear forwards;
  animation-delay: 2.2s;
}

.img-wrapper02 {
  position: absolute;
  top: 0;
  left: 650px;

}

.img-wrapper02 .img02 {
  background: url('./images/woman.jpg') no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 100vh;
  width: 699px;

  opacity: 0;
  animation: image-appear 0.0001s linear forwards;
  animation-delay: 2.4s;
}

@keyframes image-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* BLOCKS
=========================== */
.block {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgb(163, 124, 140);
  animation: block-appear 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1.5s;
}

.img-wrapper02 .block {
  animation-delay: 1.8s;
}

@keyframes block-appear {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
 


/* TEXT
=========================== */
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  width: 1000px;
}

.text h1 {
  font-size: 120px;
  font-family: 'Tinos';
  font-weight: lighter;
  letter-spacing: 5px;

  position: relative;
  overflow: hidden;
  height: 150px;
  width: 100%;
}
.text h1 .hidetext {
  position: absolute;
}

.text p {
  font-size: 40px;
  font-family: 'Tinos';
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: lighter;

  position: relative;
  overflow: hidden;
  height: 50px;
  width: 100%;
}
.text p .hidetext {
  position: absolute;
  font-weight: 700;
  color:darkslategrey;
}


/* DESC
=========================== */
.desc {
  position: absolute;
  left: 200px;
  bottom: 70px;
  display: flex;
}

.desc ul {
  margin-right: 50px;
}

.desc ul li {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.desc p {
  width: 250px;
  font-size: 10px;
  font-weight: 300;
  line-height: 2;
}


/* SCROLLDOWN
=========================== */
.scrolldown {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;

  position: absolute;
  bottom: 110px;
  left: -60px;
  transform: rotate(-90deg);
}

.scrolldown::before {
  content: "";
  border: 1px solid #fff;
  width: 100px;
  margin: 0 20px 0 0;
  transform: translateY(-3px);
  opacity: .5;
  display: inline-block;
}


/* BOTTOMNAV
=========================== */
.bottomnav {
  position: absolute;
  bottom: 30px;
  right: 50px;
}

.bottomnav .next {
  font-size: 10px;
  letter-spacing: 8px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.bottomnav .next::after {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  width: 148px;
  margin: 0 0 0 20px;
  transform: translateY(-3px);
}

.bottomnav .nav {
  display: flex;
}

.bottomnav ul {
  background: #fff;
  color: #000;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomnav ul li {
  padding: 30px 20px;
  font-size: 25px;
}

.bottomnav-img {
  background: url('./images/bottomnav-img.jpg') no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 200px;
  width: 300px;
}


/* my story  */

#mystory {
  padding: 10px 0;
  /* background-image: url("images/wavesNegative.svg") no-repeat cover; */
  /* background:linear-gradient(90deg, rgb(165, 180, 252), rgb(79, 70, 229)); */
}

/* svg clip wave thng affecting the header  */

/* .custom-shape-divider-bottom-1655605765 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1655605765 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1655605765 .shape-fill {
  fill: #FFFFFF;
} */

#mystory .container .section-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

#mystory .container .section-subheading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin: 1rem 0;
  }

#mystory .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 15rem;
  /* gap: 2rem; */
}
#mystory .item:nth-of-type(even) {
  flex-direction: row-reverse;
}
#mystory .item .left {
  flex: 1;
}
#mystory .item .right {
  margin-left: -150px;
  flex: 1;
  padding: 5rem 3rem;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000028;
  z-index: 2;
}
#mystory .item:nth-of-type(even) .right {
  margin-left: 0;
}
#mystory .item:nth-of-type(even) .left {
  margin-left: -150px;
}
#mystory .item .left .img {
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #4705fc33;
  position: relative;
}
#mystory .item .left .img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #5a24ed38;
}
#mystory .item .left .img img {
  object-fit: cover;
  transition: 0.3s ease transform;
}
#mystory .item:hover .left .img img {
  transform: scale(1.1);
  z-index: 1;
}
#mystory .item .right .project-title {
  font-size: 2.5rem;
  font-family: 'Montserrat';
  margin-bottom: 1rem;
}
#mystory .item .right .project-sub-title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
#mystory .item .right .project-desc {
  color: var(--secondary-gray);
  margin-bottom: 3rem;
}
#mystory .item .right .external-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#mystory .item .right .external-link svg {
  width: 25px;
}

@media only screen and (max-width: 768px) {
  #mystory .item {
    flex-direction: column;
  }
  #mystory .item .left {
    width: 100%;
  }
  #mystory .item .right {
    margin-left: 0;
    width: 90%;
    margin-top: -150px;
  }
  #mystory .item:nth-of-type(even) {
    flex-direction: column;
  }
  #mystory .item:nth-of-type(even) .left {
    margin-left: 0;
  }
}
@media only screen and (max-width: 450px) {
  #mystory .item .right .buttons {
    flex-direction: column;
  }
  #mystory .item .right .buttons a {
    width: 100%;
    text-align: center;
  }
}





/* gallerys section  */
#home1 {
	min-height: 100vh;
	overflow: hidden;
	display:grid;
	place-items:center;
  background-color: black;
	font-family: Cosi Azure;
}

#home1 ul {
	width: 80%;
}



#home1 ul li {
	border-bottom: solid #ffffff .05rem;
	position: relative;
	z-index: 10;
}

#home1 ul li .link{
	display: flex;
	padding: 4rem 0 2rem 0;
	z-index: 10;
	justify-content:space-between;
  align-items: center;
  justify-content: center;

}

#home1 ul li .link span {
	display: block;
	font-weight: 500;
	z-index: 10;
	mix-blend-mode: difference;
	display: inline-block;
	position: relative;
	color: white;
	font-size: 4rem;
	text-transform: uppercase;

}
#home1 ul li .link > img {
	mix-blend-mode: difference;
	z-index: 10;
}


.hover-reveal {
	position: absolute;
	width: 300px;
	height: 400px;
	top: 50%;
	left: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	overflow: hidden;
	opacity: 0;
	transform: scale(0.8);
	transition: all .5s ease-out;
}

.hover-reveal img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	transition: transform .4s ease-out;
}


@media (max-width: 768px) {
	#home1 ul {
		width: 93%;
	}
	#home1 ul li a span {
		font-size: 2.5rem;
	}
	#home1 ul li a > img {
		height: 18px;
	}
	.hover-reveal {
		width: 220px;
		height: 300px;
	}
}





/* footer section start  */




/* footer section end  */
